/*

	Neonix
	Contact@depaysemoi.com


$green: #00af66;
$mid-green: #159763;
$dk-green: #007a5a;
$grey: #25282a;
$vlt-grey: #f5f5f5;
$lt-grey: #ddddde;
$mid-grey: #53565a;
$yellow: #ffc600;
$blue: #3d7aca;
$white: #fff;


*/
*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-smooth: auto;
  font-weight: 300;
  line-height: 1.5;
  color: #444;
}

body {
  position: relative;
  overflow: hidden;
}



/* PAGE ACCUEIL */ 
body {
	margin: 0px;
	padding: 0px;
}
h1.acp {
	font-family: 'Raleway';
	font-size: 126px;
	font-weight: 101;
	margin: -62px 0px 0px -5px;
	color: whitesmoke;
	letter-spacing: 1px;
	line-height: 1;
	display: block;
	padding: 0;
	position: absolute;
}
section#section-1.section-1 {
	padding-top: 100px;
}









h2 {
	margin: 0;
	padding: 0;
	color: whitesmoke;
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
  /*font-family: 'VT323', monospace;*/
	font-size: 32px;
	letter-spacing: 1px;
	line-height: 1;
	text-transform: uppercase;
}

a {
  color: whitesmoke;
  text-decoration: none;
  transition: 0.25s;
}

button {
  border: none;
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: rgba(245, 245, 245, 0.1);
  z-index: 9998;
}
.logo span.icon {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid whitesmoke;
  border-radius: 50%;
}

.hamburger {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  z-index: 9999;
}
.hamburger.is-open span {
  height: 0;
}
.hamburger.is-open span:before {
  transform: rotate(45deg);
}
.hamburger.is-open span:after {
  transform: rotate(-45deg);
}
.hamburger span {
  position: relative;
  display: block;
  width: 80%;
  height: 2px;
  background-color: whitesmoke;
  border-radius: 99px;
}
.hamburger span:before, .hamburger span:after {
  position: absolute;
  content: '';
  left: 0;
  width: 100%;
  height: 2px;
  background-color: whitesmoke;
  transition: 0.25s;
}
.hamburger span:before {
  transform: translateY(-5px);
}
.hamburger span:after {
  transform: translateY(5px);
}





.codepen {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(245, 245, 245, 0.1);
  z-index: 9998;
}

.geekstudios {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(245, 245, 245, 0.1);
  z-index: 9998;
}
.geekstudios > svg {
  width: 50%;
  height: 50%;
}
.geekstudios > svg .circle {
  fill: whitesmoke;
  mask-mode: alpha;
}
.geekstudios > svg .mountains {
  fill: #4DB6AC;
}














nav.main ul {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  list-style-type: none;
  transition: 0.25s;
  opacity: 0;
  visibility: hidden;
  z-index: 9998;
}
nav.main ul.is-open {
  opacity: 1;
  visibility: visible;
}
nav.main ul.is-open li {
  opacity: 1;
}
nav.main ul.is-open li:nth-of-type(odd) {
    transform: translateX(0%);
}
nav.main ul.is-open li:nth-of-type(even) {
  transform: translateX(0%);
}
nav.main ul li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2px;
  opacity: 0;
  transition: 0.25s;
}
nav.main ul li:before {
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  background-color: transparent;
  transition: 0.25s;
}
nav.main ul li:nth-of-type(odd) {
  transform: translateX(-50%);
}
nav.main ul li:nth-of-type(odd):before {
  left: 0;
}
nav.main ul li:nth-of-type(even) {
  transform: translateX(50%);
}
nav.main ul li:nth-of-type(even):before {
  right: 0;
}
nav.main ul li:hover:nth-of-type(odd):before, nav.main ul li:hover:nth-of-type(even):before {
  width: 100%;
  background-color: #1CB5E0;
}
nav.main ul li.menu-title {
  color: yellow;
  /*font-family: 'VT323', monospace;*/
  font-size: 24px;
  font-weight: bold;
}
nav.main ul li a {
  position: relative;
  width: 100%;
  /*font-family: 'VT323', monospace;*/
  font-size: 3vh;
  font-weight: bold;
  text-align: center;
}



/* MENU QUERY */



/* Responsive MENU 
@media screen and (max-width: 600px) {
  .topnav li:not(:first-child) {display: none;}
  .topnav li.icon {
    float: right;
    display: block;
  }
}

@media screen and (min-width: 900px) {
 
	 nav.main .menu-title {
	    display: none;
	}

	nav.main ul {
		position: fixed !important;
		top: 0 !important;
		display: flex !important;
		flex-direction: row !important;
		justify-content: none !important;
		height: auto !important;
		margin: auto !important;
		width: auto !important;
		padding: auto !important;
		list-style-type: none !important;
		transition: 0.25s !important;
		opacity: 1 !important;
		visibility: visible !important ;


		z-index: 9998 !important;
	    background-color: transparent !important;  
	    padding: 0px !important;
	 
	}
	nav.main ul li {
	   	visibility: visible !important ;
	  	position: relative !important;
	  	display: flex !important;
	  	opacity: 0;
	  	transition: 0.25s;
	  	padding: 0 5px 0 5px;

		opacity: 1 !important;
		visibility: visible !important ;

	}

	nav.main ul li a {
	  font-family: 'Raleway' !important;
	  font-size: 18px !important;
	  font-weight: 100 !important;
	}
    
    nav.main ul {
      opacity: 1 !important;
      visibility: visible !important;
    }
    nav.main ul li {
      opacity: 1 !important;
    }
    nav.main ul li {
        transform: translateX(-50%) !important;
    }
    nav.main ul li {
      transform: translateX(50%) !important;
    }
}

*/ 










section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
section.section-1 {
  background: linear-gradient(45deg, #1CB5E0 0%, #000851 100%);
}
section.section-2 {
  background: linear-gradient(45deg, #FDBB2D 0%, #22C1C3 100%);
}
section.section-3 {
  background: linear-gradient(45deg, #d53369 0%, #daae51 100%);
}
section.section-4 {
  background: linear-gradient(45deg, #efd5ff 0%, #515ada 100%);
}
section p {
    color: whitesmoke;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}













nav.dots {
  position: fixed;
  right: 20px;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 9997;
}
nav.dots a {
  position: relative;
  display: block;
  width: 10px;
  height: 10px;
  margin: 5px 0;
  background-color: rgba(245, 245, 245, 0.4);
  border-radius: 50%;
}
nav.dots a:hover {
  background-color: rgba(245, 245, 245, 0.9);
}
nav.dots a.active {
  background-color: whitesmoke;
  transition: 0.25s;
}

















.tooltip {
  position: relative;
}
.tooltip:before, .tooltip:after {
  position: absolute;
  line-height: 1;
  opacity: 0;
  transition: 0.25s;
  visibility: hidden;
}
.tooltip:before {
  content: attr(data-tooltip);
  top: -110%;
  right: 200%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  transform: translateX(-10%);
}
.tooltip:after {
  content: '';
  right: 20px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid rgba(0, 0, 0, 0.9);
  transform: translateX(-10%);
}
.tooltip:hover:before, .tooltip:hover:after {
  opacity: 1;
  visibility: visible;
}
.tooltip:hover:before {
  transform: translateX(0%);
}
.tooltip:hover:after {
  right: 15px;
  transform: translateX(0%);
}

















.brizli {
  position: fixed;
  bottom: -15%;
  right: 20%;
  width: 100px;
  height: 120px;
  background-image: url("../img/brizli.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.5s ease-in-out;
  z-index: 99999;
}
.brizli:before, .brizli:after {
  visibility: hidden;
  transform: translateY(30px);
}
.brizli:before {
  position: absolute;
  content: attr(data-tooltip);
  top: -108px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}
.brizli:after {
  position: absolute;
  content: '';
  top: -4px;
  left: 50%;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.9);
  transform: translateX(-50%);
}
.brizli.show {
  bottom: -8.55%;
}
.brizli.show:before, .brizli.show:after {
  visibility: visible;
}
.brizli.show:before {
  top: -120px;
}
.brizli.show:after {
  top: -16px;
}









@media screen  and (max-width: 600px) { 
    .menu {
        display: none !important;
    }

    .subnavfooter {
    	display: none !important;
    }
}



.menu {
    z-index: 99;
    position: absolute;
    width: 100%;
    font-size: 16px;
    margin: 0px;
}
nav.menu {
    float: right;
	padding: 0px;
    margin: 0px;
}
nav.menu ul {
	list-style: none;
}
nav.menu li:hover {
	background-color: #00af66;
}
nav.menu li {
	display: inline-block;
	float: left;
	padding: 0px 8px 0px 8px;
}
nav.menu li.menu-title {
    border: 1px solid white;
    color: whitesmoke;
    padding: 23px 9px 8px 9px;
    font-size: 21px;
    font-weight: bold;
    font-family: "arial";
}


.subnavfooter {
	position: absolute;
	display: block;
	/* margin-top: 19em; */
}
.subnavfooter {
	width: 100%;
	z-index: 999;
	background-color: grey;
	display: block;
	top: 48px;
	font-size: 13px;
	margin-left: 96px !important;
}
.subnavfooter li {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: left;
	padding: 0px 0px 0px 24px;
	text-decoration: none;
  /* font-size: 17px; */
}
.subnavfooter  ul {
	margin: 0px !important;
}
nav.subnavfooter li:hover a {
	background-color: #00af66;
}

nav.subnavfooter li:hover {
	cursor: pointer;
}


